/* SensorConfigModal.css */

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modal-paper {
  padding: 20px;
  width: 300px;
  text-align: center;
  outline: none; /* Remove default outline on modal */
}

/* Add more styles as needed */
